<div class="row ml-2">
  <div class="col-12 col-md-3 offset-md-1">
    <img src="{{movie.Poster}}" class="img-fluid">
  </div>
  <div class="col-12 col-md-4">
    <h4 class="mt-4">{{movie.Title}} <small class="text-muted">{{movie.Year}}</small></h4>
    <small class="text-muted"> Directed by: <strong>{{movie.Director}}</strong> </small> <br>
    <small> <a href="{{movie.Website}}" target="_blank"> {{movie.Website}}</a></small>
    <div class="mt-3">
      {{movie.Plot}}
    </div>
  </div>
</div>