<div class="d-flex justify-content-center" *ngIf="cargando; else pelicula">
  <div class="spinner-grow text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<ng-template #pelicula> 
  <div class="row ml-2">
    <div class="col-12 col-md-3 offset-md-1">
      <img src="{{movie.Poster}}" class="img-fluid" (error)="changeposter()">
    </div>
    <div class="col-12 col-md-4">
      <h4 class="mt-4">{{movie.Title}} <small class="text-muted">{{movie.Year}}</small></h4>
      <small class="text-muted"> Directed by: <strong>{{movie.Director}}</strong> </small> <br>
      <small> <a href="{{movie.Website | website}}" target="_blank"> {{movie.Website | website}}</a></small>
      <div class="mt-3">
        {{movie.Plot}}
      </div>
    </div>
  </div>
</ng-template>
