<nav class="navbar navbar-expand" [ngClass]="{'navbar-light bg-light' : light,' navbar-dark bg-dark': !light}">
  <a class="navbar-brand" >Movies</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item " routerLinkActive= 'active'>
        <a class="nav-link" routerLink='/all' >All</a>
      </li>
      <li class="nav-item" routerLinkActive= 'active'>
        <a class="nav-link" routerLink='/movies' >Movies</a>
      </li>
      <li class="nav-item" routerLinkActive= 'active'>
        <a class="nav-link" routerLink='/series' >Series</a>
      </li>
      
    </ul>
  </div>
  <button class="btn btn-dark" *ngIf="light" (click)="setDark()"> Dark</button>
  <button class="btn btn-light" *ngIf="!light"(click)="setLight()"> Light</button>
</nav>